{% extends 'newsletter/base.html' %}

{% block title %}Информация о рассылке{% endblock %}

{% block content %}

  <div class="container">
      <p>Сообщение: {{ object.message }}</p>
      <p>Статус: {{ object.status }}</p>
      <p>Дата создания: {{ object.date_of_first_shipment }}</p>
      <p>Дата окончания: {{ object.date_of_end_shipment }}</p>
      <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'newsletter:newsletter_list' %}">Назад</a>
      <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'newsletter:newsletter_update' newsletter.pk %}">Редактировать</a>
      <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'newsletter:newsletter_delete' newsletter.pk %}">Удалить</a>
  </div>

{% endblock %}