{% extends 'newsletter/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1>Получатели</h1>
</div>
<div class="container">
    <div class="container mb-5">
        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'newsletter:recipient_create' %}">Добавить
            получателя</a>
    </div>
    <div class="row text-center">
        {% for recipient in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ recipient.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ recipient.email }} Р</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ recipient.comment }}</li>
                    </ul>
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'newsletter:recipient_detail' recipient.pk %}">Инофрмация</a>
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'newsletter:recipient_update' recipient.pk %}">Редактировать</a>
                    <a class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'newsletter:recipient_delete' recipient.pk %}">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
